body {
	margin:0% 0%;
	background-image: url(img/kolumna.png),url(img/kolumna.png), url(img/pergamin.png),url(img/blat.jpg),url(img/left.png), url(img/right.png); 
	background-attachment: scroll, scroll, scroll, scroll, fixed, fixed;
	background-repeat: repeat-y,repeat-y, repeat-y, repeat-y, no-repeat, no-repeat;
	background-position: 87% 0%, 13% 0%, center, center, left bottom, right bottom;
	background-size: 5% auto, 5% auto,64% auto, 70% 100%, 15% 96%, 15% 96%;

}
div.logo{
	padding: 0% 0% 0% 0%;
	margin: 0% 0%;
}
nav{
	position: fixed;
	float: top;
	width: 100%;
	border: 0px solid black;
	height: auto;
	position: block;
	margin: 2% 0%;
	background:url(img/blat.jpg);
	background-repeat:no-repeat;
	text-align: center;
	background-size: 100% auto;	
}


nav ul {

list-style: none;
padding: 0; 
text-align: center; 
margin: 0;

}

nav ul li { 
display: inline-block;
padding: 10px 20px;
}


nav ul li a {

 color: white;
 text-decoration: none;
 font-weight: bold; 
 display: block;
 padding: 10px 15px;

}


nav ul li a:hover { 
background-color: #666699; 
color: #fff; 
border-radius: 5px; }

header
{
display: table;
width: 100%;
border: 0px solid black;
height: auto;
position: static;
padding: 2% 0%;
background:url(img/stopka_2.png);
background-repeat:no-repeat;
text-align: center;
background-size: 100% 100%;
}

footer
{
display: table;
width: 100%;
border: 0px solid black;
height: max-height;
position: static;
padding: 2% 0%;
background:url(img/stopka_1.png);
background-repeat:no-repeat;
text-align: center;
background-size: 100% 100%;
}

main{
	margin: 0% 15%;
}

div.cont{
	margin: 0% 8%;
}

header h1 {
	display: table-cell;
	vertical-align: middle;
	text-align:center;
	font-family:"Times New Roman", Times, serif;
}

h2 {
	color: gray;
	font-family:"Times New Roman", Times, serif;
}

p {
	font-size: 16px;
	font-family:"Times New Roman", Times, serif;
}

footer p {
	margin:3% 7%;
	display: table-cell;
	vertical-align: middle;
	text-align:center;
	font-size: 9px;
	font-family:"Times New Roman", Times, serif;
}

a:link {
	font-family:"Times New Roman", Times, serif;
	color: green;
}

a:visited {
	font-family:"Times New Roman", Times, serif;
	color: red;
}

a:hover {
	font-family:"Times New Roman", Times, serif;
	color: blue;
}

table.road_map {border-collapse: collapse;}
table.road_map th {border: 1px solid black; padding: 5px;}
table.road_map td {border: 1px solid black; padding: 5px;}
table.road_map td:nth-last-child(1) {text-align: left; width: 75%;}
table.road_map td:nth-last-child(2) {text-align: right; width: 15%;}
table.road_map td:nth-last-child(3) {text-align: center; width: 10%;}

/*listy w road mapie*/

dl dt{
	type: decimal;
}
dl dd{
	type: upper-roman;
}

textarea {
  resize: none;
  width:96%;
}

script{
   width:96%;
}
